*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
#container
{
    display: flex;
}
#left-panel
{
    position: relative;
    width: 40vw;
    height: 100vh;
}
#left-panel #logo
{
    position: absolute;
    width: 100%;
    bottom: 70%;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
}
#left-panel #bg-image
{
    width: 100%;
    height: 100vh;
}
#left-panel #logo-image
{
    width: 30%;
    background-color: transparent;
}

#right-panel
{
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 50px;

    --margin-left: 50px;
}
#right-panel p
{
    margin-left: var(--margin-left);
}
#right-panel #description-section
{
    background-color: rgba(218, 218, 218, 0.384);
    padding-top: 60px;
    padding-bottom: 50px;
}
#forminput
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: var(--margin-left);
}

.formsec
{
    display: flex;
    gap: 80px;
}
#form-section .formsec
{
    display: flex;
}
.formsec label
{
    display: block;
    font-size: 10px;
}
#form-section hr
{
    margin-top: 20px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.158);
    color: rgba(0, 0, 0, 0.158);
}
#form-footer
{
    margin-top: 20px;
    margin-left: var(--margin-left);
}
#submitbtn
{
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    width: 150px;
    height: 30px;
}

#logintxt
{
    margin-top: 25px;
    font-size: 12px;
}
#loginbtn
{
    display: inline;
    border: none;
    background-color: transparent;
    color: cornflowerblue;
}
button
{
    cursor: pointer;
}

.formsec input:invalid
{
    border-color: red;
}

#form-message
{
    display: none;
    width: 450px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 10px;
    background-color: rgba(117, 117, 117, 0.253);
}
#form-message img
{
    width: 20px;
}